body {
  background: url('img/seat-bg.jpg') no-repeat black;
  background-size: contain;
  background-position: center 700px;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.travel-curtain {
  width: 10vw;
  height: 120vh;
  background: repeating-linear-gradient(
    to left,
    hsl(0, 50%, 50%) 4vw,
    hsl(0, 50%, 30%) 8vw,
    hsl(0, 40%, 50%) 10vw
  );
  background-size: 100% 100%;
  display: inline-block;
  transform-origin: 0 0%;
  transform: rotate(3deg);
  -webkit-animation: travel-curtain 2s ease infinite;
  animation: travel-curtain 2s ease infinite;
}
@-webkit-keyframes travel-curtain {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes travel-curtain {
  50% {
    transform: rotate(-3deg);
  }
}
.travel-curtain:nth-child(1) {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.travel-curtain:nth-child(2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.travel-curtain:nth-child(3) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.travel-curtain:nth-child(4) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.travel-curtain:nth-child(5) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.travel-curtain:nth-child(6) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.travel-curtain:nth-child(7) {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.travel-curtain:nth-child(8) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.travel-curtain:nth-child(9) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.travel-curtain:nth-child(10) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.curtain {
  margin: 0 auto;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
.curtain-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.curtain-wrapper.open div.curtain-panel--left {
  transform: translateX(-90%);
}
.curtain-wrapper.open div.curtain-panel--right {
  transform: translateX(90%);
}
.curtain-panel {
  display: flex;
  align-items: center;
  background: transparent;
  color: #fff;
  float: left;
  position: relative;
  width: 50%;
  height: 100vh;
  transition: all 1s ease-out;
  z-index: 2;
}
.curtain-panel--left {
  justify-content: flex-end;
  transform: translateX(0);
}
.curtain-panel--right {
  justify-content: flex-start;
  transform: translateX(0);
}
.front-stage-content {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 80%;
}

.lights {
  width: 100%;
  height: 70vh;
  position: absolute;
  background: #000;
  z-index: 4;
  opacity: 0%;
  transition: all 1s ease-in;
  pointer-events: none;
}
.lights.dimmed {
  opacity: 0.8;
}

.screen {
  background: #fff7e7;
  height: 80%;
  /* padding: 20px; */
  width: 80%;
  /* transition: all 1s ease-out; */
  /* -webkit-animation: glow 5s ease-in-out infinite alternate;
          animation: glow 5s ease-in-out infinite alternate; */
  position: relative;
  overflow: hidden;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.screen.off {
  background: grey;
  box-shadow: none;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes glow {
  from {
    /* box-shadow: 2px 0px 24px 8px white; */
    box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px rgb(171, 210, 247),
      inset -20px 0 80px rgb(157, 221, 221),
      inset 20px 0 300px rgb(171, 210, 247),
      inset -20px 0 300px rgb(157, 221, 221), 0 0 50px #fff,
      -10px 0 80px rgb(171, 210, 247), 10px 0 80px rgb(157, 221, 221);
  }

  to {
    /* box-shadow: 2px 0px 24px 8px transparent; */
    box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px rgb(157, 221, 221),
      inset -20px 0 80px rgb(171, 210, 247),
      inset 20px 0 300px rgb(157, 221, 221),
      inset -20px 0 300px rgb(171, 210, 247), 0 0 50px #fff,
      -10px 0 80px rgb(171, 210, 247), 10px 0 80px rgb(157, 221, 221);
  }
}

@keyframes glow {
  from {
    /* box-shadow: 2px 0px 24px 8px rgba(255,255,255,0.5); */
    box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px rgb(171, 210, 247),
      inset -20px 0 80px rgb(157, 221, 221),
      inset 20px 0 300px rgb(171, 210, 247),
      inset -20px 0 300px rgb(157, 221, 221), 0 0 50px #fff,
      -10px 0 80px rgb(171, 210, 247), 10px 0 80px rgb(157, 221, 221);
  }

  to {
    /* box-shadow: 2px 0px 24px 8px transparent; */
    box-shadow: inset 0 0 60px whitesmoke,
      inset 20px 0 80px rgba(157, 221, 221, 0.3),
      inset -20px 0 80px rgba(171, 210, 247, 0.3),
      inset 20px 0 300px rgba(157, 221, 221, 0.3),
      inset -20px 0 300px rgba(171, 210, 247, 0.3), 0 0 50px #fff,
      -10px 0 80px rgba(171, 210, 247, 0.3),
      10px 0 80px rgba(157, 221, 221, 0.3);
  }
}

.question,
.answers {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  font-size: 2rem;
}

.answers.highlight-answer {
  font-weight: 800;
  color: gold;
}

.slide-container {
  width: 100%;
  height: 100%;
  background: url('img/pexels-photo-3921045.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
}

#cone {
  width: 0;
  height: 0;
  border-left: 550px solid transparent;
  border-right: 550px solid transparent;
  border-top: 800px solid rgb(245, 245, 220);
  border-radius: 50%;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  opacity: 0.3;
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 5;
  pointer-events: none;
  animation: projector-flicker 2s linear infinite;
}

@keyframes projector-flicker {
  0% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
  }
  2% {
    opacity: 0.3;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
  }
  4% {
    opacity: 0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
  }

  8% {
    opacity: 0.3;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
  }
  70% {
    opacity: 0.4;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
  }
  100% {
    opacity: 0.3;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(245, 245, 220, 0.73);
  }
}

#created-by {
  color: white;
  margin: 20px 0;
}

#credits-container {
  background: black;
  color: white;
  z-index: 5;
  width: 100%;
  height: 100%;
}

#credits-content {
  animation: scroll 30s linear 1s infinite;
  position: absolute;
  top: 100%;
  pointer-events: none;
  width: 100%;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.ytplayer {
  pointer-events: none;
}